@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: "Quicksand", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Open Sans", sans-serif;

    --color-white: #FFF;
    --color-grey-white: #E8ECF4;
    --color-black: #000;
    --color-perple: #4C85FF;
    --color-light-purple: #5E81FE;
    --color-light-purple-alt: #3A79FF;
    --color-light-blue: #D2E1FF;
    --color-dark-purple: #3D4F9F;
    --color-grey-purple: #697CA6;
    --color-grey-purple-alt: #8D96BD;
    --color-grey: #ADB3CB;
    --color-dark-grey: #495274;
    --color-dark-grey-alt: #565F82;
    --color-light-grey: #7382A3;
    --color-red: #D43F3F;
    --color-light-red: #FFD7D7;
    --color-light-white: #F5F8FF;
    
    --color-socila-icon: #B6BAC7;
    --color-socila-icon-alt: #757E9A;

    --color-blue-gradient: #5E80FF;
    --color-light-blue-gradient: #6888FF;
    
    --border-radius: 2px;

    --transition: all .2s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    font-family: var(--font-family);
    min-width: 320px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}

.btn{
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    height: 43px;
    border-radius: var(--border-radius);
}

.subtitle{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: var(--color-dark-purple);
}

.title{
    font-family: var(--font-family);
    font-weight: 500;
    color: #3d4f9f;
}

.desc{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: clamp(8px, 1.04vw , 15px);
    line-height: 191%;
    letter-spacing: 0.03em;
    color: #8d96bd;
}

a{
    text-decoration: none;
    color: currentColor;
}

ul,
ol{
    list-style-type: none;
}

.image{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Header */


.header{
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: .125rem solid rgba(216, 227, 254, .6);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__left{
    display: flex;
    column-gap: 73px;
}

.header__list{
    display: flex;
    column-gap: 42px;
    flex-wrap: wrap;
}

.header__link{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: var(--color-grey-purple);
    transition: var(--transition);
}

.is-active{
    color: var(--color-light-purple);
    font-weight: 700;
    transition: var(--transition);
}

.is-active:hover{
    color: var(--color-dark-purple);
}


.header__link:hover:not(.is-active){
    color: var(--color-grey);
}

.heder__right{
    display: flex;
    column-gap: 44px;
}

.social__list{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.social__link{
    color: var(--color-socila-icon);
    transition: var(--transition);
}

.social__link:hover{
    color: var(--color-light-blue-gradient);
}

.header__btn{
    color: var(--color-light-purple-alt);
    background-color: var(--color-light-blue);
}

/* Hero */

.hero{
    background: linear-gradient(to bottom, #F4F7FF, #F1F5FF);
    min-height: 570px;
}

.hero__inner{
    background-image: url(../img/hero/clouds.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content{
    padding-top: 92px;
    text-align: center;
}

.hero__subtitle{
    margin-bottom: 16px;
}

.hero__title{
    font-size: clamp(22px, 3.33vw, 48px);
    font-weight: 300;
    color: var(--color-dark-purple);
    margin-bottom: 28px;
}

.subtitle__bold{
    font-weight: 500;
}

.hero__desc{
    position: relative;
    max-width: 502px;
    margin-inline: auto;
}

.hero__desc::after{
    content: "►";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-purple);
    right: 45%;
    bottom: -67px;
    width: clamp(40px, 3.61vw , 52px);
    aspect-ratio: 1;
    border-radius: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px #F4F7FF;
}

.chart__block{
    background-image: url(../img/hero/chart.png);
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1441px;
    width: 100%;
    margin: 0 auto;
    height: 347px; 
}

/* Customers */

.customers{
    padding-block: 58px;
}

.customers__inner{
    max-width: 888px;
    width: 100%;
    margin-inline: auto;
}

.customers__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 75px;
}

.customers__link path{
    transition: var(--transition);
    display: inline-block;
}

.customers__link:hover path,
.customers__link:focus path{
    fill: #3A79FF;
}

/* Plan */

.plan{
    background-color: var(--color-light-white);
    padding-block: 170px;
    margin-bottom: 141px;
}

.plan__inner{
    display: flex;
    max-width: 100%;
    align-items: center;
    padding-left: max(.9375rem,(100% - 55.625rem) / 2);
}

.plan__content{
    max-width: 413px;
}

.plan__subtitle{
    margin-bottom: 27px;
}

.plan__title{
    font-size: clamp(27px, 2.5vw , 36px);
    margin-bottom: 27px;
}

.plan__title-normal{
    font-weight: 400;
}

.plan__desc{
    margin-bottom: 47px;
}

.plan__form{
    max-width: 259px;
    display: flex;
}

.plan__view{
    position: relative;
    background-color: var(--color-perple);
    padding: 13px 37px 13px 25px;
    color: var(--color-white);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.plan__view::after{
    content: "►";
    position: absolute;
    right: 17px;
    bottom: 31%;
}

.plan__features{
    color: var(--color-grey);
    font-weight: 500;
    border: 1px solid #D1D1E4;
    padding: 13px 21px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.plan__image{
    width: clamp(405px, 55.55vw, 800px);
    position: relative;
    bottom: -3.75rem;
}

/* About */

.about__inner{
    margin-bottom: 141px;
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    background-image: url(../img/about/clouds.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.about__subtitle{
    margin-bottom: 20px;
}

.about__title{
    margin-bottom: 92px;
    font-size: 24px;
}

.about__list{
    display: flex;
    column-gap: 70px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: var(--third-family);
    margin-bottom: 92px;
}

.about__item{
    position: relative;
    width: 140px;
    height: 254px;
}

.about__item:not(:last-child)::after{
    content: "";
    position: absolute;
    right: -43px;
    bottom: 118px;
    width: 28px;
    height: 1px;
    background-color: #dae4fe;
}

.about__image{
    margin-bottom: 33px;
}

.item__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 177%;
    color: #4074f8;
    margin-bottom: 25px;
}

.item__desc{
    font-weight: 600;
    font-size: 11px;
    line-height: 177%;
    color: var(--color-grey);
}

.about__form{
    display: flex;
    column-gap: 48px;
    align-items: center;
    justify-content: center;
}

.about__form span{
    position: relative;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 11px;
    color: var(--color-grey);
}

.about__form span::before{
    content: "";
    position: absolute;
    left: -28px;
    bottom: 5px;
    width: 15px;
    height: 1px;
    background-color: #dae4fe;
}

.about__form span::after{
    content: "";
    position: absolute;
    right: -28px;
    bottom: 5px;
    width: 15px;
    height: 1px;
    background-color: #dae4fe;
}

.read__more{
    padding: 13px 15px;
    color: var(--color-red);
    background-color: var(--color-light-red);
}

.get__started{
    padding: 13px 15px;
    color: var(--color-light-purple-alt);
    background-color: var(--color-light-blue);
}

/* Stats */

.stats__inner{
    display: flex;
}

.stats__left,
.stats__right{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-block: 66px;
}

.stats__left{
    color: var(--color-white);
    align-items: flex-end;
    text-align: right;
    padding-right: 90px;
    background: linear-gradient(229deg, #6888ff 12.77%, #5e80ff 73.11%);
}

.stats__right{
    color: var(--color-white);
    align-items: flex-start;
    text-align: left;
    padding-left: 90px;
    background: linear-gradient(101deg, #e9efff 41.56%, #e0e9ff 81.53%);
}


.stats__image{
    margin-bottom: 24px;
}

.percent,
.users{
    margin-bottom: 27px;
    font-size: 48px;
    letter-spacing: 0.03em;
}

.users{
    color: var(--color-blue-gradient);
}

.stats__desc{
    max-width: 260px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.stats__desc.right{
    color: var(--color-blue-gradient);
}

@media (max-width: 900px) {
    .header{
        padding-block: 20px;
    }

    .header__inner{
        row-gap: 15px;
    }

    .heder__right{
        column-gap: 20px;
    }

    .header__left{
        column-gap: 30px;
    }
    
    .header__list{
        column-gap: 20px;
    }

    .social__list{
        column-gap: 25px;
    }

    .hero__content{
        padding-inline: 15px;
        padding-top: 50px;
    }

    .hero__subtitle{
        margin-bottom: 10px;
    }

    .hero__subtitle{
        margin-bottom: 13px;
    }

    .customers__list{
        padding-inline: 15px;
    }

    .plan{
        padding-block: 80px;
    }

    .about{
        padding-inline: 15px;
    }

}

@media (max-width: 800px) {
    .about__item:not(:last-child)::after{
        display: none;
    }

    .stats__inner{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .stats__left{
        align-items: center;
        text-align: center;
        padding-right: 0;
    }
    
    .stats__right{
        align-items: center;
        text-align: center;
        padding-left: 0;
    }

    .stats__left,
    .stats__right{
        padding-block: 40px;
    }
}

@media (max-width: 675px) {
    .plan{
        padding-block: 40px;
    }

    .plan__image{
        display: none;
    }

    .plan__inner{
        align-items: center;
        justify-content: center;
    }

    .plan__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .plan__desc{
        text-align: center;
    }

    .about__form{
        column-gap: 35px;
    }

    .about__title {
        margin-bottom: 60px;
    }
}



