@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-family: "Quicksand", sans-serif;
    --second-family: "Roboto", sans-serif;
    --third-family: "Open Sans", sans-serif;

    --color-white: #FFF;
    --color-grey-white: #E8ECF4;
    --color-black: #000;
    --color-perple: #4C85FF;
    --color-light-purple: #5E81FE;
    --color-light-purple-alt: #3A79FF;
    --color-light-blue: #D2E1FF;
    --color-dark-purple: #3D4F9F;
    --color-grey-purple: #697CA6;
    --color-grey-purple-alt: #8D96BD;
    --color-grey: #ADB3CB;
    --color-dark-grey: #495274;
    --color-dark-grey-alt: #565F82;
    --color-light-grey: #7382A3;
    --color-red: #D43F3F;
    --color-light-red: #FFD7D7;
    
    --color-socila-icon: #B6BAC7;
    --color-socila-icon-alt: #757E9A;

    --color-blue-gradient: #5E80FF;
    --color-light-blue-gradient: #6888FF;
    
    --border-radius: 2px;

    --transition: all .2s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html{
    font-family: var(--font-family);
    min-width: 320px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin-inline: auto;
    padding-inline: 15px;
}

.btn{
    font-weight: 700;
    font-size: 13px;
    display: inline-block;
    padding: 13px 15px;
    height: 43px;
    border-radius: var(--border-radius);
}

a{
    text-decoration: none;
    color: currentColor;
}

ul,
ol{
    list-style-type: none;
}

.image{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Header */


.header{
    min-height: 80px;
    display: flex;
    align-items: center;
    border-bottom: .125rem solid rgba(216, 227, 254, .6);
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.header__left{
    display: flex;
    column-gap: 73px;
}

.header__list{
    display: flex;
    column-gap: 42px;
    flex-wrap: wrap;
}

.header__link{
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: var(--color-grey-purple);
    transition: var(--transition);
}

.is-active{
    color: var(--color-light-purple);
    font-weight: 700;
    transition: var(--transition);
}

.is-active:hover{
    color: var(--color-dark-purple);
}


.header__link:hover:not(.is-active){
    color: var(--color-grey);
}

.heder__right{
    display: flex;
    column-gap: 44px;
}

.social__list{
    display: flex;
    column-gap: 35px;
    align-items: center;
}

.social__link{
    color: var(--color-socila-icon);
    transition: var(--transition);
}

.social__link:hover{
    color: var(--color-light-blue-gradient);
}

.header__btn{
    color: var(--color-light-purple-alt);
    background-color: var(--color-light-blue);
}

/* Hero */

.hero{
    background: linear-gradient(to bottom, #F4F7FF, #F1F5FF);
    min-height: 570px;
}

.hero__inner{
    background-image: url(../img/hero/clouds.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero__content{
    padding-top: 92px;
    text-align: center;
}

.hero__title{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.1em;
    color: var(--color-dark-purple);
    margin-bottom: 16px;
}

.hero__subtitle{
    font-size: clamp(22px, 3.33vw, 48px);
    font-weight: 300;
    color: var(--color-dark-purple);
    margin-bottom: 28px;
}

.subtitle__bold{
    font-weight: 500;
}

.hero__desc{
    position: relative;
    font-family: var(--second-family);
    font-size: clamp(8px, 1.04vw , 15px);
    line-height: 191%;
    letter-spacing: 0.03em;
    color: var(--color-grey-purple-alt);
    margin-bottom: 20px;
    max-width: 502px;
    margin-inline: auto;
}

.hero__desc::after{
    content: "►";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-light-purple);
    right: 45%;
    bottom: -67px;
    width: clamp(40px, 3.61vw , 52px);
    aspect-ratio: 1;
    border-radius: 30px;
    background-color: var(--color-white);
    box-shadow: 0 0 10px #F4F7FF;
}

.chart__block{
    background-image: url(../img/hero/chart.png);
    position: relative;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 1441px;
    width: 100%;
    margin: 0 auto;
    height: 347px; 
}

/* Customers */

.customers{
    padding-block: 58px;
}

.customers__inner{
    max-width: 888px;
    width: 100%;
    margin-inline: auto;
}

.customers__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px 75px;
}

.customers__link path{
    transition: var(--transition);
    display: inline-block;
}

.customers__link:hover path,
.customers__link:focus path{
    fill: #3A79FF;
}
@media (max-width: 900px) {
    .header{
        padding-block: 20px;
    }

    .header__inner{
        row-gap: 15px;
    }

    .heder__right{
        column-gap: 20px;
    }

    .header__left{
        column-gap: 30px;
    }
    
    .header__list{
        column-gap: 20px;
    }

    .social__list{
        column-gap: 25px;
    }

    .hero__content{
        padding-inline: 15px;
        padding-top: 50px;
    }

    .hero__subtitle{
        margin-bottom: 10px;
    }

    .hero__subtitle{
        margin-bottom: 13px;
    }

    .customers__list{
        padding-inline: 15px;
    }
}

